[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=CRED-P2pool-Start
Icon=utilities-terminal
Exec=gnome-terminal -e "sh -c './p2pool-oneclick/credp2pool.sh'"
Categories=Application;