[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=BTC-P2pool-Start
Icon=utilities-terminal
Exec=gnome-terminal -e "sh -c './p2pool-oneclick/btcp2pool.sh'"
Categories=Application;