[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=DGB-P2pool-Zen-Start
Icon=utilities-terminal
Exec=gnome-terminal -e "sh -c './p2pool-oneclick/dgbp2poolzen.sh'"
Categories=Application;